<p id="notice"><%= notice %></p>

<h1>Delete Book</h1>

<h3>Are you sure you want to permanently delete this book?</h3>
<%= link_to 'Delete', books_path, method: :delete %>

<%= link_to 'Show', @book %>
<%= link_to 'Back', books_path %>



